.shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  margin: 50px;
  border-radius: 0px 50px 0px 50px;
  background-color: white;
  height: 800px;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 5;
}