.shop {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 150px 1fr;

  margin: 50px;
  border-radius: 0px 50px 0px 50px;
  background-color: white;
  height: 800px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / 3;
}

.item-container {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  border: 1px solid red;
}

.item {
  border: 1px solid black;
  padding-left: 20px;
}